<ActionBar class="action-bar" flat="true">
    <Label class="action-bar-title text-center" text="Дарение"></Label>
</ActionBar>

<GridLayout class="page page-content dark-page" style="height: 100%;" rows="*, auto, *, auto">
    <Label row="0" textWrap="true" class="text-center" text="Това приложение и цялата дейност на 5kmRun се издържа изцяло от дарения и доброволен труд. Можете да подкрепите нашите усилия като дарите избрана от вас сума бързо и лесно чрез системата PayPal."></Label>
    <Button row="1" (tap)="initiateDonation()" class="input-button-wide" text="Дари!"></Button>
    <Label row="2" text="Благодарим ви!" class="text-center m-t-30" style="font-size: 26;"></Label>
    <Label row="3" text="От целия екип" class="text-right m-r-20"></Label>
</GridLayout>