<ActionBar class="action-bar">

    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Статистика"></Label>
</ActionBar>

<StackLayout>
    <ScrollView>
        <GridLayout class="dashboard" height="190%" width="100%" columns="*" rows="10, 3*, 10, 3*, 10, 3*, 10, 2*, 10">
            <GridLayout col="0" row="1" columns="*" rows="auto, auto" class="dashboard-item stat-box" verticalAlignment="stretch" *ngIf="dataLoaded">
                <Label col="0" row="0" class="tile-header" text="Резултати от бягания"></Label>

                <RadCartesianChart col="0" row="1" height="90%">
                    <LinearAxis tkCartesianVerticalAxis labelFormat="%.0fмин" [maximum]="runsStatsMax" minumum="0" labelLayoutMode="Inner" lineHidden="true" *ngIf="dataLoaded"></LinearAxis>
                    <DateTimeContinuousAxis [majorStep]="runsStatsMajorStep" tkCartesianHorizontalAxis dateFormat="MMM-yy" labelFitMode="Rotate"
                        labelRotationAngle="1.2"></DateTimeContinuousAxis>
                    <LineSeries tkCartesianSeries [items]="runsStatistics$ | async" categoryProperty="Date" valueProperty="Time"></LineSeries>
                    <RadCartesianChartGrid tkCartesianGrid horizontalLinesVisible="true" verticalLinesVisible="false" horizontalStripLinesVisible="false"
                    verticalStripLinesVisible="false"></RadCartesianChartGrid>
                </RadCartesianChart>
            </GridLayout>

            <GridLayout col="0" row="3" columns="*" rows="auto, auto" class="dashboard-item stat-box" verticalAlignment="stretch">
                <Label col="0" row="0" class="tile-header" text="Брой бягания по месеци"></Label>

                <RadCartesianChart col="0" row="1" height="90%" *ngIf="dataLoaded">
                    <LinearAxis tkCartesianVerticalAxis majorStep="2" maximum="6" minimum="0" labelLayoutMode="Outer" lineHidden="true"></LinearAxis>
                    <DateTimeContinuousAxis [majorStep]="runsStatsMajorStep" tkCartesianHorizontalAxis dateFormat="MMM-yy" labelFitMode="Rotate"
                        labelRotationAngle="1.2"></DateTimeContinuousAxis>
                    <AreaSeries tkCartesianSeries [items]="runsByMonth$ | async" categoryProperty="Date" valueProperty="RunsCount"></AreaSeries>
                </RadCartesianChart>
            </GridLayout>

            <GridLayout col="0" row="5" columns="*" rows="auto, auto" class="dashboard-item stat-box" verticalAlignment="stretch">
                <Label col="0" row="0" class="tile-header" text="Рекорди по трасета"></Label>

                <RadCartesianChart height="85%" tkExampleTitle tkToggleNavButton col="0" row="1" class="m-t-10" *ngIf="dataLoaded">
                    <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
                    <LinearAxis tkCartesianVerticalAxis labelFormat="%.0fмин" [maximum]="runsStatsMax + 3"></LinearAxis>

                    <BarSeries tkCartesianSeries [items]="citiesBestTimesSource$ | async" categoryProperty="City" valueProperty="BestTime" showLabels="true" paletteMode="Item">
                        <PointLabelStyle tkBarLabelStyle fontStyle="Bold" fillColor="#ff6060" textSize="13" textColor="White"></PointLabelStyle>
                    </BarSeries>
                </RadCartesianChart>
            </GridLayout>


        </GridLayout>
    </ScrollView>
</StackLayout>