<ActionBar class="action-bar">

    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Статистика"></Label>
</ActionBar>

<ScrollView>
    <GridLayout class="dashboard" height="190%" width="100%" columns="*" rows="10, 3*, 10, 3*, 10, 3*, 10, 2*, 10">
        <GridLayout col="0" row="1" columns="*" rows="auto, auto" class="dashboard-item stat-box" verticalAlignment="stretch" *ngIf="(runsStatistics$ | async)?.length > 0">
            <Label col="0" row="0" class="tile-header" text="Резултати от бягания"></Label>

            <RadCartesianChart col="0" row="1" height="90%">
                <LinearAxis tkCartesianVerticalAxis labelFormat="%.0fмин" [maximum]="runsStatsMax" minumum="0"></LinearAxis>
                <DateTimeContinuousAxis [majorStep]="runsStatsMajorStep" tkCartesianHorizontalAxis dateFormat="MMM-yy" labelFitMode="Rotate"
                    labelRotationAngle="1.2"></DateTimeContinuousAxis>
                <LineSeries tkCartesianSeries [items]="runsStatistics$ | async" categoryProperty="Date" valueProperty="Time"></LineSeries>
            </RadCartesianChart>
        </GridLayout>

        <GridLayout col="0" row="3" columns="*" rows="auto, auto" class="dashboard-item stat-box" verticalAlignment="stretch">
            <Label col="0" row="0" class="tile-header" text="Брой бягания по месеци"></Label>

            <RadCartesianChart col="0" row="1" height="90%" *ngIf="(runsByMonth$ | async)?.length > 0">
                <LinearAxis tkCartesianVerticalAxis majorStep="2" maximum="6" minimum="0"></LinearAxis>
                <DateTimeContinuousAxis [majorStep]="runsStatsMajorStep" tkCartesianHorizontalAxis dateFormat="MMM-yy" labelFitMode="Rotate"
                    labelRotationAngle="1.2"></DateTimeContinuousAxis>
                <AreaSeries tkCartesianSeries [items]="runsByMonth$ | async" categoryProperty="Date" valueProperty="RunsCount"></AreaSeries>
            </RadCartesianChart>
        </GridLayout>

        <GridLayout col="0" row="5" columns="*" rows="auto, auto" class="dashboard-item stat-box" verticalAlignment="stretch">
            <Label col="0" row="0" class="tile-header" text="Рекорди по трасета"></Label>

            <RadCartesianChart height="85%" tkExampleTitle tkToggleNavButton col="0" row="1" class="m-t-10">
                <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
                <LinearAxis tkCartesianVerticalAxis labelFormat="%.0fмин" [maximum]="runsStatsMax + 3"></LinearAxis>

                <BarSeries tkCartesianSeries [items]="citiesBestTimesSource$ | async" categoryProperty="City" valueProperty="BestTime" showLabels="true"></BarSeries>
            </RadCartesianChart>
        </GridLayout>

        <GridLayout col="0" row="7" columns="*" rows="auto, auto" class="dashboard-item stat-box" verticalAlignment="stretch">
            <Label col="0" row="0" class="tile-header" text="Брой бягане по трасета"></Label>

            <RadPieChart height="100%" allowAnimation="true" row="1" col="0">
                <PieSeries tkPieSeries selectionMode="DataPoint" expandRadius="0.2" outerRadiusFactor="0.7" [items]="citiesParticipationSource$ | async"
                    valueProperty="RunsCount" legendLabel="City" showLabels="true"></PieSeries>
                <RadLegendView tkPieLegend position="Right" title="Трасета" offsetOrigin="TopRight" width="110" enableSelection="true"></RadLegendView>
            </RadPieChart>
        </GridLayout>
    </GridLayout>
</ScrollView>