<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Статистика"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Statistics'"></MyDrawer>
    </StackLayout>

    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
    <ScrollView class="page page-content" tkMainContent>
        <GridLayout class="dashboard" tkMainContent height="175%" width="100%" columns="*" rows="10, *, 10, *, 10, *, 10, *, 10">
            <GridLayout col="0" row="1" columns="*" rows="auto, auto" class="dashboard-item stat-box" verticalAlignment="stretch">
                <Label col="0" row="0" class="tile-header" text="Резултати от бягания"></Label>

                <RadCartesianChart col="0" row="1" height="90%">
                    <LinearAxis tkCartesianVerticalAxis labelFormat="%.2f мин" [maximum]="runsStatsMax" minumum="0"></LinearAxis>
                    <DateTimeContinuousAxis [majorStep]="runsStatsMajorStep" tkCartesianHorizontalAxis dateFormat="MMM-yy" labelFitMode="Rotate" labelRotationAngle="1.2"></DateTimeContinuousAxis>
                    <LineSeries tkCartesianSeries [items]="runsStatistics$ | async"
                        categoryProperty="Date" valueProperty="Time"></LineSeries>
                </RadCartesianChart>
            </GridLayout>

            <GridLayout col="0" row="3" columns="*" rows="auto, auto" class="dashboard-item stat-box" verticalAlignment="stretch">
                <Label col="0" row="0" class="tile-header" text="Брой бягания по месеци"></Label>

                <RadCartesianChart col="0" row="1" height="90%">
                    <LinearAxis tkCartesianVerticalAxis majorStep="2" maximum="6" minimum="0"></LinearAxis>
                    <DateTimeContinuousAxis tkCartesianHorizontalAxis dateFormat="MMM-yy" labelFitMode="Rotate" labelRotationAngle="1.2"></DateTimeContinuousAxis>
                    <AreaSeries tkCartesianSeries [items]="runsByMonth$ | async"
                        categoryProperty="Date" valueProperty="RunsCount"></AreaSeries>
                </RadCartesianChart>
            </GridLayout>

            <GridLayout col="0" row="5" columns="*" rows="auto, auto" class="dashboard-item stat-box" verticalAlignment="stretch">
                <Label col="0" row="0" class="tile-header" text="Рекорди по трасета"></Label>

                <RadCartesianChart height="90%" tkExampleTitle tkToggleNavButton col="0" row="1" class="m-t-10">
                        <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
                        <LinearAxis tkCartesianVerticalAxis labelFormat="%.2f мин"></LinearAxis>
                    
                        <BarSeries tkCartesianSeries [items]="citiesBestTimesSource$ | async" categoryProperty="City" valueProperty="BestTime" showLabels="true"></BarSeries>
                </RadCartesianChart>
            </GridLayout>

            <GridLayout col="0" row="7" columns="*" rows="auto, auto" class="dashboard-item stat-box" verticalAlignment="stretch">
                <Label col="0" row="0" class="tile-header" text="Брой бягане по трасета"></Label>

                <RadPieChart height="100%" allowAnimation="true" row="1" col="0">
                        <PieSeries tkPieSeries selectionMode="DataPoint" expandRadius="0.2" outerRadiusFactor="0.7" [items]="citiesParticipationSource$ | async" valueProperty="RunsCount" legendLabel="City" showLabels="true"></PieSeries>
                        <RadLegendView tkPieLegend position="Right" title="Трасета" offsetOrigin="TopRight" width="110" enableSelection="true"></RadLegendView>
                </RadPieChart>
            </GridLayout>
        </GridLayout>
    </ScrollView>
</RadSideDrawer>