<StackLayout orientation="horizontal" width="90%" height="25" style="border-top-width: 1; border-top-color: #BEBEBE;" class="m-b-10">
    <StackLayout [width]="fullBarWidth + '%'" height="100%" style="background-color: #fb5a2e; font-size: 12;" class="text-left va-m">
        <Label [text]="barTitle" class="m-l-10" style="color: #ffffff; font-size: 14;"></Label>
    </StackLayout>
    <StackLayout [width]="emptyBarWidth + '%'" height="100%" style="background-color: #F1F2F3; font-size: 12" class="text-right va-m">
        <Label [text]="(barValue | timeMinutes) + ' мин.'" class="m-r-10"></Label>
    </StackLayout>
</StackLayout>