<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Home'"></MyDrawer>
    </StackLayout>

    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
    <GridLayout class="page page-content dashboard" tkMainContent columns="*, *" rows="175, *, *">
        <!-- Total KMs -->
        <StackLayout col="0" row="0" class="dashboard dashboard-item">
            <Label text="Total KMs"></Label>
            <Label [text]="(currentUser$ | async)?.totalKmRan"></Label>
        </StackLayout>

        <!-- Next Goal -->
        <RadRadialGauge col="1" row="0" class="dashboard dashboard-item">
            <RadialScale tkRadialGaugeScales minimum="0" maximum="100" radius="0.95">
                <ScaleStyle tkRadialScaleStyle ticksVisible="false" labelsVisible="false" lineThickness="0"></ScaleStyle>
                <RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="100" location="0.80">
                    <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="#dddddd" barWidth="0.2"></BarIndicatorStyle>
                </RadialBarIndicator>
                <RadialBarIndicator tkRadialScaleIndicators minimum="0" [maximum]="(currentUser$ | async)?.runsCount" location="0.80">
                    <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="#00ff00" barWidth="0.2"></BarIndicatorStyle>
                </RadialBarIndicator>
            </RadialScale>
        </RadRadialGauge>
        <Label text="9" col="1" row="0" style="text-align: center; vertical-align: middle"></Label>

        <!-- Last Run -->
        <StackLayout col="0" row="1" class="dashboard dashboard-item" [nsRouterLink]="['/runs/' + (lastRun$ | async)?.id]">
            <Label text="Last Run"> </Label>
            <Label [text]="(lastRun$ | async)?.date | date:'dd MMM yyyy'"></Label>
            <Label [text]="(lastRun$ | async)?.time"></Label>
        </StackLayout> 
    </GridLayout>
</RadSideDrawer>