<GridLayout class="page page-content dashboard" columns="1*, 1*, 1*" rows="auto, auto, *" style="background-color: #333333">
    <Label row="0" col="0" [text]="'\uf02a'" class="fa tile-header text-left" style="font-size: 40;"></Label>
    <Label row="0" col="2" [text]="'\uf08b'" class="fa tile-header text-right" style="font-size: 40;"></Label>

    <total-distance-tile [distance]="(currentUser$ | async)?.totalKmRan" col="0" row="1"></total-distance-tile>
    <StackLayout col="1" row="1">
        <Image [src]="(currentUser$ |async)?.avatarUrl" class="img-circle"></Image>
        <Label class="footnote m-l-20 va-m" [text]="(currentUser$ |async)?.suuntoPoints + ' SUUNTO точки'" class="tile-header"></Label>
        <Label class="footnote m-l-20 va-m" [text]="(currentUser$ |async)?.runsCount + ' участия'" class="tile-header"></Label>
        <Label class="footnote m-l-20 va-m" [text]="(currentUser$ |async)?.age" class="tile-header"></Label>
    </StackLayout>
    <next-milestone-tile [currentUser$]="currentUser$" col="2" row="1"></next-milestone-tile>
</GridLayout>