<CardView col="0" colSpan="4" row="1" class="cardStyle" margin="3" elevation="3" radius="3" shadowOffsetWidth="3" shadowOffsetHeight="3"
shadowRadius="3" style="margin-top: 15">
    <GridLayout columns="*" rows="auto, auto, *" class="dashboard-item-light" verticalAlignment="stretch">
        <Label col="0" row="0" class="tile-header-white" text="Резултати от бягания"></Label>
        <Label col="0" row="1" class="tile-header-white" style="font-size: 11" text="(задръжте върху графиката за повече информация)"></Label>
        <RadCartesianChart *ngIf="runs.length > 0" col="0" row="2">
            <LinearAxis tkCartesianVerticalAxis [minimum]="min" [maximum]="max" [majorStep]="step" hidden="true"></LinearAxis>
            <Trackball tkCartesianTrackball></Trackball> 
            <DateTimeContinuousAxis majorStep="Day" tkCartesianHorizontalAxis hidden="true"></DateTimeContinuousAxis>

            <LineSeries tkCartesianSeries [items]="runs ? runs : []" categoryProperty="date" valueProperty="timeInSeconds"></LineSeries>

            <Palette tkCartesianPalette>
                <PaletteEntry tkCartesianPaletteEntry strokeColor="#fb5a2e" strokeWidth="1"></PaletteEntry>
            </Palette>

            <RadCartesianChartGrid tkCartesianGrid horizontalLinesVisible="false" verticalLinesVisible="false"
                horizontalStripLinesVisible="false" verticalStripLinesVisible="false"></RadCartesianChartGrid>
        </RadCartesianChart>
    </GridLayout>
</CardView>