<ActionBar class="action-bar">
    <NavigationButton text="Назад" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
    <Label class="action-bar-title" [text]="run?.date | date:'dd.MM.yyyy'"></Label>
</ActionBar>

<GridLayout columns="*, *" rows="auto, auto, auto, auto, auto, auto, auto, auto" class="m-l-20 details">
    <Label col="0" row="0" text="Трасе: "></Label> <Label col="1" row="0" [text]="run?.place" textWrap="true" class="tile-value"></Label>
    <Label col="0" row="1" text="Време: "></Label> <Label col="1" row="1" [text]="run?.time" class="tile-value"></Label>
    <Label col="0" row="2" text="Позиция: "></Label> <Label col="1" row="2" [text]="run?.position" class="tile-value"></Label>
    <Label col="0" row="3" text="Темпо: "></Label> <Label col="1" row="3" [text]="run?.pace + ' мин/км'" class="tile-value"></Label>
    <Label col="0" row="4" text="Скорост: " textWrap="true"></Label> <Label col="1" row="4" [text]="run?.speed" class="tile-value"></Label>
    <Label col="0" row="5" text="Разлика от предишното бягане: " textWrap="true"></Label> <Label col="1" row="5" [text]="run?.differenceFromPrevious" class="tile-value"></Label>
    <Label col="0" row="6" text="Разлика от най-добро време: " textWrap="true"></Label> <Label col="1" row="6" [text]="run?.differenceFromBest" class="tile-value"></Label>
    <Label col="0" row="7" text="Бележки: "></Label> <Label col="1" row="7" [text]="run?.notes" class="tile-value"></Label>
</GridLayout>