<ActionBar class="action-bar">
    <NavigationButton text="Назад" android.systemIcon="ic_menu_back" tap="onNavBtnTap"></NavigationButton>
    <Label class="action-bar-title" [text]="(run| async)?.date | date:'dd MMM yyyy'"></Label>
</ActionBar>

<StackLayout class="page page-content" tkMainContent>
    <Label [text]="'Място: ' + (run| async)?.place"></Label>
    <Label [text]="'Време: ' + (run| async)?.time"></Label>
    <Label [text]="'Разлика от предишното бягане: ' + (run| async)?.differenceFromPrevious"></Label>
    <Label [text]="'Разлика от най-добро време: ' + (run| async)?.differenceFromBest"></Label>
</StackLayout>