<ActionBar class="action-bar" flat="true">
    <NavigationButton text="Назад" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
    <Label class="action-bar-title" [text]="(run$ | async)?.date | date:'dd.MM.yyyy'"></Label>
    <ActionItem icon="font://&#xf14d;" class="fa" ios.position="right" style="font-size: 14;" (tap)="onTapShareBtn($event)"></ActionItem>
</ActionBar>

<GridLayout #detailsView columns="auto, *, auto" rows="110, auto, auto, auto, auto, auto, *"
    style="background-color: #252525; vertical-align: top;"
    *ngIf="run$ | async as run">
    <StackLayout col="0" row="0" class="round-tile">
        <Label [text]="run.pace" class="round-tile-value"></Label>
        <Label text="мин/км" class="round-tile-value"></Label>
    </StackLayout>

    <GridLayout columns="*" rows="auto" class="dashboard-item" col="1" row="0" *ngIf="results$ | async as results">
        <RadRadialGauge *ngIf="run.position > -1 && results.length > -1" col="0" row="0" height="100"
            style="margin-bottom: 0">
            <RadialScale tkRadialGaugeScales minimum="0" [maximum]="results.length" radius="0.95">
                <ScaleStyle tkRadialScaleStyle ticksVisible="false" labelsVisible="false" lineThickness="0">
                </ScaleStyle>
                <RadialBarIndicator tkRadialScaleIndicators minimum="0" [maximum]="results.length" location="0.9">
                    <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="#903f27" barWidth="0.2"></BarIndicatorStyle>
                </RadialBarIndicator>
                <RadialBarIndicator tkRadialScaleIndicators minimum="0" [maximum]="results.length - run.position"
                    location="0.9" isAnimated="true">
                    <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="#fb5a2e" barWidth="0.2"></BarIndicatorStyle>
                </RadialBarIndicator>
            </RadialScale>
        </RadRadialGauge>
        <Label col="0" row="0" [text]="run.position" class="va-m tile-value-dark font-weight-bold"
            style="margin-bottom: 20; font-size: 20"></Label>
        <Label col="0" row="0" [text]="results.length" class="va-m tile-value-dark" style="margin-top: 20;"></Label>
    </GridLayout>

    <StackLayout col="2" row="0" class="round-tile">
        <Label [text]="run.speed" class="round-tile-value"></Label>
        <Label text="км/ч" class="round-tile-value"></Label>
    </StackLayout>

    <Label col="0" row="1" text="Темпо" class="tile-header-dark m-t-10"></Label>
    <Label col="1" row="1" text="Позиция" class="tile-header-dark font-weight-bold m-t-10"></Label>
    <Label col="2" row="1" text="Скорост" class="tile-header-dark m-t-10"></Label>

    <StackLayout colSpan="3" col="0" row="2" orientation="horizontal" width="100%" style="horizontal-align: center"
        class="text-center va-middle m-t-25">
        <Label [text]="'\uf073'" class="list-icon tile-value-dark"></Label>
        <Label [text]="run.date | date:'dd.MM.yyyy'" class="tile-value-dark m-r-25 m-l-5"
            style="font-size: 20;"></Label>
        <Label [text]="'\uf017'" class="list-icon tile-value-dark"></Label>
        <Label [text]="run.time + ' мин.'" class="tile-value-dark m-l-5" style="font-size: 20;"></Label>
    </StackLayout>

    <StackLayout colSpan="3" col="0" row="3" orientation="horizontal" class="m-t-25" style="horizontal-align: center;">
        <Label [text]="'\uf3c5'" class="list-icon tile-value-dark m-r-5"></Label>
        <Label [text]="run.place" class="tile-value-dark" style="font-size: 20;"></Label>
    </StackLayout>

    <StackLayout colSpan="3" col="0" row="4" orientation="horizontal" class="m-t-25" style="horizontal-align: center;">
        <Label class="tile-header-dark" text="Предишно бягане: "></Label>
        <Label [text]="run.differenceFromPrevious" [class]="run.differenceFromPrevious | timeDifferenceColor"></Label>
    </StackLayout>

    <StackLayout colSpan="3" col="0" row="5" orientation="horizontal" class="m-t-5" style="horizontal-align: center;">
        <Label class="tile-header-dark" text="Най-добро бягане: "></Label>
        <Label [text]="run.differenceFromBest" [class]="run.differenceFromBest | timeDifferenceColor"></Label>
    </StackLayout>
</GridLayout>