<CardView col="1" row="0" class="cardStyle" margin="5" elevation="0" radius="0" shadowOffsetWidth="0" shadowOffsetHeight="0" shadowRadius="0">
    <GridLayout columns="*" rows="auto, *" class="dashboard-item" verticalAlignment="stretch">
        <Label col="0" row="0" text="Следваща цел" class="tile-header"></Label>
        <RadRadialGauge *ngIf="(runs$ | async)?.length > 0" col="0" row="1">
            <RadialScale tkRadialGaugeScales minimum="0" [maximum]="nextMilestone" radius="0.95">
                <ScaleStyle tkRadialScaleStyle ticksVisible="false" labelsVisible="false" lineThickness="0" ></ScaleStyle>
                <RadialBarIndicator tkRadialScaleIndicators minimum="0" [maximum]="nextMilestone" location="0.80">
                    <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="#dddddd" barWidth="0.2"></BarIndicatorStyle>
                </RadialBarIndicator>
                <RadialBarIndicator tkRadialScaleIndicators minimum="0" [maximum]="currentRuns" location="0.80" isAnimated="true">
                    <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="#00aeef" barWidth="0.2"></BarIndicatorStyle>
                </RadialBarIndicator>
            </RadialScale>
        </RadRadialGauge>
        <Label col="0" row="1" [text]="currentRuns + ' / ' + nextMilestone" class="text-center va-m tile-value"></Label>
    </GridLayout>
</CardView>