// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example '~nativescript-theme-core/scss/dark'.
@import '~nativescript-theme-core/scss/light';

// Start custom common variables
@import 'app-variables';
// End custom common variables

// Customize any of the theme’s variables here, for instance $btn-color: red;
// https://github.com/NativeScript/theme/blob/master/app/scss/_variables.scss

// Import the theme’s main ruleset.
@import '~nativescript-theme-core/scss/index';

// Import the platform specific ruleset.
@import url('~/platform.css');

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
// Font icon class
.fa {
   font-family: "FontAwesome";
   color: black;
}
// Common page class
.page-content {
    font-family: 'SourceSansPro-Light';

    .page-placeholder {
        color: $page-icon-color;
        font-size: $page-content-placeholder-font-size;
        vertical-align: center;
        horizontal-align: center;
    }

    .page-icon {
        font-size: 72;
        vertical-align: top;
        horizontal-align: center;
        color: $page-icon-color;
        margin-top: 20%;
    }
}

//Action bar
ActionBar .action-bar-title {
    horizontal-align: center;
    color: white;
}

.barcode {
    text-align: center;
    margin: 30 0 0 0;
    font-size: 30;
}

.barcode-text {
    font-family: 'New'; 
    font-size: 60;
    transform: scaleY(2);
}

.dashboard-item {
    text-align: center;
    vertical-align: middle;
    font-size: 20;
    height: 100%;
}

.stat-box {
    margin-top: 10;
    margin-bottom: 10;
    margin-left: 10;
    margin-right: 10;
}

.login {
    text-align: center;
    vertical-align: middle;
    font-size: 20;
}

.input-button {
    background-color: #00aeef;
    color: #ffffff;
    width: 150;
    height: 50;
    margin-top: 15;
}

.input-button-red {
    background-color: #ff6060;
    color: #ffffff;
    width: 50;
    height: 50;
    margin-top: 15;
}

.input-textbox {
    border-width: 1;
    border-color: #000000;
    width: 150;
    height: 50;
    margin-top: 15;
}

.va-m {
    vertical-align: middle;
}

.va-t {
    vertical-align: top;
}

.va-b {
    vertical-align: bottom;
}

GridLayout.details Label {
    padding: 10;
    vertical-align: middle;
}

.profile-preview {
    Image {
        border-radius: 100;
        border-width: 2;
        border-color: #00aeef;
        width: 200;
        height: 200;
        margin-top: 10;
    }
}
@keyframes example {
    from { transform: translate(-800, 0); }
    to { transform: translate(0, 0); }
}

.tile-header {
    color: #ffffff;
    font-size: 14;
    text-align: center;
    padding-top: 5;
    padding-bottom: 5;
}

.tile-value {
    color: #ffffff;
    font-size: 16;
}

.dashboard-icon {
    font-family: 'FontAwesome';
    font-size: 14;
    color: #aaaaaa;
    text-align: center;
    margin-left: 10;
    vertical-align: middle;
}

.subtitle {
    text-align: left;
    margin-left: 10;
}

.results {
    border-width: 1;
    border-color: #00aeef;
    border-radius: 5;
    margin: 10 10 10 10;
    padding: 10 10 10 10;
}

.resultsView {
    background-color: #00aeef;
}

.resultsFilter {
    background-color: white;
    border-radius: 5;
    margin: 10 10 10 10;
    padding: 5 5 5 5;
}

// Drawer navigation custom styles
$sidedrawer-header-image-size: 80;
$sidedrawer-header-image-offset-top: 10;
$sidedrawer-header-image-offset-bottom: 5;
$sidedrawer-list-item-offset-left: 15;
$sidedrawer-list-icon-offset: 5;
$sidedrawer-list-icon-size: 20;


.sidedrawer {
    &.sidedrawer-left {
        background-color: $ab-background;
        
        .sidedrawer-header-image {
            color: $background-dark;
            height: $sidedrawer-header-image-size;
            width: $sidedrawer-header-image-size;
            font-size: $sidedrawer-header-image-size;
            padding: 0;
            margin-bottom: $sidedrawer-header-image-offset-top;
            margin-top: $sidedrawer-header-image-offset-top;
        }

        .footnote {
            color: rgba(white, 0.5);
        }
    }

    .sidedrawer-header {
        background-color: black;
        color: white;
        height: auto;
        padding-bottom: 20;
        .sidedrawer-header-brand {
            color: white;
            font-size: 20;
            padding-bottom: 10;
        }
    }

    .sidedrawer-content {
        background-color: $side-drawer-background;
        height: 100%;

        ListView {
            height: 100%;
        }
    }

    .sidedrawer-list-item {
        padding-left: $sidedrawer-list-item-offset-left;
        Label {
            vertical-align: center;
            color: $blue-dark;
        }

        .fa {
            width: $sidedrawer-list-icon-size;
            margin-right: $sidedrawer-list-icon-offset;
        }

        &.selected {
            background-color: $item-active-background;

            Label {
                color: $item-active-color;
            }
        }

        &.sidedrawer-list-item-settings {
            border-top-width: 1px;
            border-top-color: $blue-50;
        }
    }
}