<ActionBar class="action-bar" flat="true">
    <Label class="action-bar-title" text="Предстоящи Събития"></Label>
</ActionBar>

<StackLayout class="page page-content">
    <ListView [items]="events$ | async" height="100%" (itemLoading)="onItemLoading($event)" class="grey-background" (itemLoading)="onItemLoading($event)">
        <ng-template let-item="item" let-i="index">
            <CardView class="cardStyle" margin="3" elevation="3" radius="3" shadowOffsetWidth="3" shadowOffsetHeight="3"
            shadowRadius="3">
                <GridLayout columns="auto, *, auto" rows="auto, *, *" class="results">
                    <Label col="0" row="0" [text]="'\uf3c5'" class="list-icon"></Label>
                    <Label [text]="item.location" col="1" row="0" class="list-details"> </Label>

                    <Image [src]="item.imageUrl" col="2" row="0" rowSpan="3" width="80" height="80" class="img-circle"></Image>

                    <Label col="0" row="1" [text]="'\uf073'" class="list-icon"></Label>
                    <Label class="h2 list-details" [text]="item.date | date:'dd.MM.yyyy'" col="1" row="1"></Label>

                    <Label [text]="'\uf05a'" class="list-icon" col="0" row="2" *ngIf="item.title"></Label>
                    <Label class="list-details" [text]="item.title" col="1" row="2" textWrap="true"></Label>
                </GridLayout>
            </CardView>
        </ng-template>
    </ListView>
</StackLayout>