<CardView col="0" row="3" colSpan="4" class="cardStyle" margin="5" elevation="5" radius="5" shadowOffsetWidth="5"
    shadowOffsetHeight="5" shadowRadius="5">
    <GridLayout columns="*" rows="auto, auto" class="dashboard-item-light">
        <Label col="0" row="0" class="tile-header-white" text="Рекорди по трасета"></Label>

        <StackLayout col="0" row="1">
            <StackLayout *ngFor="let bestTimeEntry of (citiesBestTimesSource$ | async)">
                <bar-component [barTitle]="bestTimeEntry.City" [barValue]="bestTimeEntry.BestTime" [barMaximumValue]="maxBarValue"></bar-component>
            </StackLayout>
        </StackLayout>
    </GridLayout>
</CardView>