<GridLayout col="0" row="3" colSpan="4" columns="*" rows="auto, auto">
    <Label col="0" row="0" class="tile-header-white" text="Рекорди по трасета"></Label>

    <RadCartesianChart height="85%" tkExampleTitle tkToggleNavButton col="0" row="1" class="m-t-10">
        <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
        <LinearAxis tkCartesianVerticalAxis labelFormat="%.0fмин" [maximum]="runsStatsMax + 3"></LinearAxis>

        <BarSeries tkCartesianSeries [items]="citiesBestTimesSource$ | async" categoryProperty="City" valueProperty="BestTime" showLabels="true" paletteMode="Item">
            <PointLabelStyle tkBarLabelStyle fontStyle="Bold" fillColor="#ff6060" textSize="13" textColor="White"></PointLabelStyle>
        </BarSeries>
    </RadCartesianChart>
</GridLayout>