<BottomNavigation #tabView>
    <TabStrip >
        <TabStripItem name="profileTab">
            <Image src="font://&#xf007;" class="fa"></Image>
            <Label text="Профил"></Label>
        </TabStripItem>
        <TabStripItem name="runsTab">
            <Image src="font://&#xf70c;" class="fa"></Image>
            <Label text="Бягания"></Label>
        </TabStripItem>
        <TabStripItem name="resultsTab">
            <Image src="font://&#xf2f2;" class="fa"></Image>
            <Label text="Резултати"></Label>
        </TabStripItem>
        <TabStripItem name="eventsTab">
            <Image src="font://&#xf073;" class="fa"></Image>
            <Label text="Събития"></Label>
        </TabStripItem>
        <TabStripItem name="donationTab">
            <Image src="font://&#xf004;" class="fa"></Image>
            <Label text="Дарение"></Label>
        </TabStripItem>
    </TabStrip>
    <TabContentItem name="homeTab">
        <page-router-outlet name="homeTab">
        </page-router-outlet>
    </TabContentItem>
    <TabContentItem name="runsTab">
        <page-router-outlet name="runsTab">
        </page-router-outlet>
    </TabContentItem>
    <TabContentItem name="resultsTab">
        <page-router-outlet name="resultsTab">
        </page-router-outlet>
    </TabContentItem>
    <TabContentItem name="eventsTab">
        <page-router-outlet name="eventsTab">
        </page-router-outlet>
    </TabContentItem>
    <TabContentItem name="donationTab">
        <page-router-outlet name="donationTab">
        </page-router-outlet>
    </TabContentItem>
</BottomNavigation>