<CardView [col]="col" [row]="row" colSpan="2" class="cardStyle" margin="3" elevation="3" radius="3"
    shadowOffsetWidth="3" shadowOffsetHeight="3" shadowRadius="3"
    (tap)="navigateToRun()">
    <GridLayout columns="auto, auto, auto" rows="auto, auto, auto, auto" class="dashboard-item-light">
        <Label [text]="title" col="0" row="0" colSpan="3" class="tile-header-white"> </Label>

        <Label [text]="run?.position" col="0" row="1" rowSpan="2" class="red-number font-weight-bold"></Label>
        <Label text="място" col="0" row="3" class="tile-value-tooltip"></Label>

        <Label col="1" row="1" text="Дата: " class="tile-value-tooltip"></Label>
        <Label col="2" row="1" [text]="run?.date | date:'dd.MM.yy'" class="tile-value-white"></Label>

        <Label col="1" row="2" text="Темпо: " class="tile-value-tooltip"></Label>
        <Label col="2" row="2" [text]="run?.pace.toString()" class="tile-value-white"></Label>

        <Label col="1" row="3" text="Време: " class="tile-value-tooltip"></Label>
        <Label col="2" row="3" [text]="run?.time.toString()" class="tile-value-white"></Label>
    </GridLayout>
</CardView>