<ActionBar class="action-bar" flat="true">
</ActionBar>

<GridLayout class="page page-content login" style="height: 100%; background-color: #252525; color: #ffffff;">
    <StackLayout [@login]="isProfileLoaded ? 'hidden' : 'shown'" verticalAlignment="center">
        <Label text="Личен номер"></Label> 
        <TextField #txtUserId (returnPress)="loadProfile()" [(ngModel)]="userId" keyboardType="number" automationText="txtLoginId"></TextField>
        <Button (tap)="loadProfile()" text="Напред" class="input-button" automationText="btnLoginNext"></Button>
    </StackLayout>

    <StackLayout [@confirm]="isProfileLoaded ? 'shown' : 'hidden'" class="profile-preview m-l-20 m-r-20" 
        *ngIf="user$| async as user"
        horizontalAlignment="center" verticalAlignment="center">
        <Label class="va-m m-t-10" text="Влез като" style="font-weight: 300"></Label>
        <Label class="va-m m-t-10" [text]="user.name + ' ' + user.age"></Label>
        <Image class="va-m m-t-10 profile-preview-img" [src]="user.avatarUrl"></Image>  
        <StackLayout orientation="horizontal" class="m-t-10">
            <Button [text]="'\uf303'" (onTap)="goBack()" class="fa input-button-red" automationText="btnLoginBack"></Button>
            <Button text="Напред" (onTap)="next()" class="input-button m-l-10" automationText="btnLoginConfirm"></Button>
        </StackLayout>
    </StackLayout>
</GridLayout>