<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Твоите Бягания"></Label>
</ActionBar>

<GridLayout>
    <ListView [items]="runs | async" class="list-group">
        <ng-template let-item="item" let-i="index">
            <GridLayout columns="auto, *" rows="auto, *, *" class="list-group-item" [nsRouterLink]="['/runs/' + item.id]">
                <Label col="0" row="1" [text]="'\uf041'" class=" fa va-m"></Label> <Label [text]="item.place" col="1" row="1" class="text-left m-l-10"> </Label>
                <Label col="0" row="0" [text]="'\uf073'" class="h2 fa va-m"></Label> <Label class="h2 text-left m-l-10 va-m" [text]="item.date | date:'dd.MM.yyyy'" col="1" row="0"></Label>
                <Label col="0" row="2" [text]="'\uf017'" class="fa va-m"></Label> <Label class="text-left m-l-10 va-m" [text]="item.time" col="1" row="2"></Label>
            </GridLayout> 
        </ng-template>
    </ListView>
</GridLayout>