<CardView [col]="col" [row]="row" colSpan="2" class="cardStyle" margin="5" elevation="5" radius="5" shadowOffsetWidth="5" shadowOffsetHeight="5" shadowRadius="5">
    <GridLayout columns="auto, auto, auto" rows="auto, auto, auto, auto" class="dashboard-item-light" [nsRouterLink]="['/runs/' + run?.id]">
        <Label [text]="title" col="0" row="0" colSpan="3" class="tile-header-white"> </Label>

        <Label [text]="run?.position" col="0" row="1" rowSpan="2" class="red-number font-weight-bold"></Label>
        <Label text="място" col="0" row="3" class="tile-header-white"></Label>

        <Label col="1" row="1" text="Дата: " class="tile-value-tooltip"></Label>
        <Label col="2" row="1" [text]="run?.date | date:'dd.MM.yyyy'" class="tile-value-white"></Label> 
        
        <Label col="1" row="2" text="Темпо: " class="tile-value-tooltip"></Label> 
        <Label col="2" row="2" [text]="run?.pace.toString()" class="tile-value-white"></Label> 

        <Label col="1" row="3" text="Време: " class="tile-value-tooltip"></Label>
        <Label col="2" row="3" [text]="run?.time.toString()" class="tile-value-white"></Label> 
    </GridLayout> 
</CardView>