<ActionBar class="action-bar">

    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Новини"></Label>
</ActionBar>

<GridLayout>
    <ListView [items]="news$ | async" class="list-group">
        <ng-template let-item="item">
            <StackLayout class="list-group-item">
                <Label [text]="item.title" class="h2" textWrap="true" (onTap)="openUrl(item.url)"></Label>
                <GridLayout>
                    <HtmlView [html]="item.description" (onTap)="openUrl(item.url)" minHeight="50"></HtmlView>
                </GridLayout>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout>